*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans";  
    list-style: none;
    font-size: 16px;
}

.logo {
    width: 15vw;
    margin: 1% 3%;
}

button:hover{
    box-shadow: 0px 0.3em 0.5em rgba(0, 0, 0, 0.3);
}

/* -------------------------------------Header-------------------------------------*/

header{
    background-color: #306BB3;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100vw;
}

header>div{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    gap:5%

}

nav{
    width:70%;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    font-weight: 500;  
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
    font-weight: 600;
}

button{
    color: #306BB3;
    background-color: white;
    padding: 1%;
    border: none;
    border-radius: 4px;
}

/* -------------------------------------Main--------------------------------------*/
h1{
    font-size: 3em;
    text-align: center;
    font-weight: 500;
    color: #486284;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4% 2% ;
}

article>div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
    padding: 2% 3%;
}

.main-text{
    width: 50%;
}

.main-img{
    max-width: 40%;
}
.subtitle{
    width: 50%;
    text-align: center;
}

/* --------------------------------------footer---------------------------------------*/
footer{
    background-color: #306BB3;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

div>a>i{
    padding-right: 3%;
    font-size: 1.5em;
}

div>a>i:hover{
    font-size: 1.7em;
}

div>ul>li {
    padding: 0.4em 0px;
}

.page-info{
    display: flex;
    width: 55%;
    justify-content: space-around;
    padding: 3vw 0px;
}

.title-blue {
    color: white;
    font-weight: bold;
    margin: 1vw 0px;
}

.vision-text{
    color: white;
}

#other-media{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: 1em 0px;
}


/*-------------------------------Responsive-------------------------------------------*/
@media only screen and (max-width:912px){
    .subtitle{
        width: 70%;
    }
    article>div{
        flex-direction: column;
    }
    
    .main-text{
        width: 90%;
    }
    
    .main-img{
        max-width: 40%;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width:576px){
    *{
        font-size: 12px;  
    }
    .main-img{
        max-width: 60%;
    
    }

}

@media only screen and (max-width:390px){

    /*----------Header-----------*/
    header{
        flex-direction: column;
    }

    .logo{
        width: 30%;
        align-self: center;
    }

    header>div{
        width: 100%;
        padding: 4% 0%;
    }

    nav{
        width:65%;
    }

    .nav-list { /*header ul*/
        width: 100%;
    }

    nav>ul>li{
        font-size: 12px;
    }
 
    button{
        font-size: 0.8em;
    }


    /*---------------------Footer----------------------*/
    footer{
        flex-direction: column;
    }
    .page-info{
        width: 100%;
        padding-bottom: 2em;
    }

    #other-media{
        width: 100%;
     
    }
    #other-media>div{
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-self: center; 
    }
    .vision-text{
        margin-left: 2em;
    }

    .page-info>div>ul>li>a{
        font-size: 0.8em;
    }
}

